<!-- <p>header works!</p>
<div class="container">
   <div class="container1">
    <h1>Welcome joy!</h1>
    <p>to the best code-management software</p>
        <p>you will ever come across...</p>
    </div>
  




    <ul >
        <li><nz-date-picker nzMode="month" nzPlaceHolder="month" >month</nz-date-picker></li>
        <li><nz-range-picker nzPlaceHolder="1st Oct 2020 To 1st Oct 2020 "></nz-range-picker></li>
        <li><button nz-button class="btn-color">Widget  <i nz-icon nzType="plus"></i></button></li>
        <li><button nz-button  class="btn-color"> <i nz-icon nzType="line-chart"></i></button></li>
        <li><button nz-button  class="btn-color"> <i nz-icon nzType="history"></i></button></li>
    
    </ul>

 


</div>
 -->

 