<h2>The Dashboard</h2>
<app-header></app-header>
<app-repositories></app-repositories>
<app-mostactiveusers></app-mostactiveusers>
<app-activity-report></app-activity-report>
<app-licenses></app-licenses>
<app-important-tags></app-important-tags>
<app-languages></app-languages>
<app-visitors></app-visitors>
<app-watchers></app-watchers>
<app-total-contributors></app-total-contributors>
<app-total-release></app-total-release>
<app-total-issues></app-total-issues>
<app-action-taken></app-action-taken>
<app-starred></app-starred>
<app-total-pull-reques></app-total-pull-reques>