<nz-header>
  <nav>
   <label class="logo"><i  nz-icon [nzType]="'appstore'"></i><span class="size">             GITBOARD</span> </label>
   <button class="btn" nz-button nz-dropdown [nzDropdownMenu]="menu1">Project<i nz-icon nzType="down"></i></button>
   <nz-dropdown-menu #menu1="nzDropdownMenu">
     <ul nz-menu class="dropdown">
       <li nz-menu-item>
         <a>Project 1</a>
       </li>
       <li nz-menu-item>
         <a>Project 2</a>
       </li>
       <li nz-menu-item>
         <a>Project 3</a>
       </li>
     </ul>
   </nz-dropdown-menu>
      
    <ul>
      <li><button class="btn" nz-button nz-dropdown [nzDropdownMenu]="menu2">Github<i nz-icon nzType="down"></i></button>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu class="dropdown">
            <li nz-menu-item>
              <a>Githubt 1</a>
            </li>
            <li nz-menu-item>
              <a>Github 2</a>
            </li>
            <li nz-menu-item>
              <a>Github 3</a>
            </li>
          </ul>
        </nz-dropdown-menu> </li>
      <li > <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="user"></i></button></li>
      <li ><button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="setting"></i></button></li> 
      <li ><button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="bell"></i></button></li>
    </ul>
  
  </nav>
  </nz-header>

  
 
   


 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  