
<ul nz-menu  >   
        <li nz-menu-item  >
            <nz-tag >
              
              <a href="#"><i nz-icon nzType="appstore"></i>Dashboard</a>
            </nz-tag >
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="eye-invisible"></i>Visitors</a>
               <nz-badge nzStandalone [nzCount]="100" [nzStyle]="{ backgroundColor: 'rgb(189, 79, 216)',width:'40px',height:'25px',border:'none',padding:'3px',fontSize:'16px',fontWeight:'600',borderRadius:'8%'}" ></nz-badge>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="sliders"></i>visits</a>
               <nz-badge nzStandalone [nzCount]="100" [nzStyle]="{ backgroundColor: 'rgb(189, 79, 216)',width:'40px',height:'25px',border:'none',padding:'3px',fontSize:'16px',fontWeight:'600',borderRadius:'8%'}" ></nz-badge>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="apartment"></i>clones</a>
               <nz-badge nzStandalone [nzCount]="100" [nzStyle]="{ backgroundColor: 'rgb(189, 79, 216)',width:'40px',height:'25px',border:'none',padding:'3px',fontSize:'16px',fontWeight:'600',borderRadius:'8%'}" ></nz-badge>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"> <i nz-icon nzType="global"></i>watchers</a>
               <nz-badge nzStandalone [nzCount]="100"  [nzStyle]="{ backgroundColor: 'rgb(189, 79, 216)',width:'40px',height:'25px',border:'none',padding:'3px',fontSize:'16px',fontWeight:'600',borderRadius:'8%'}" ></nz-badge>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="gitlab"></i>Action taken</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="slack"></i>Starred</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="fork"></i>Forks</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="branches"></i>commits</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="node-index"></i>Contributors</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="deployment-unit"></i>Contributing Org</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="pull-request"></i>Pull request</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="bug"></i>Issues</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="download"></i>Downloads</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="comment"></i>Comments</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="merge-cells"></i>NPM Audit Report</a>
              </nz-tag>
        </li>
        <li nz-menu-item>
            <nz-tag >
                <a href="#"><i nz-icon nzType="control"></i>License Audit Report</a>
              </nz-tag>
        </li>  
</ul> 

